main {
    display: flex;  
    height: 100vh; 
    padding-top: 64px; /* move under AppBar */
}

nav {
    border-right: 1px solid lightgrey;
    height: '100vh';
}

article {
    flex-grow: 1;
    padding: 8px;
 }